@using DoAn_Auction.Models
@model List<Category>
<div class="col-sm-8 col-md-6 search-box m-t-2">
    <form class="input-group" action="@Url.Action("Result", "Search")">
        <input type="text" class="form-control" aria-label="Search here..." placeholder="Search here..." name="Content">
        <div class="input-group-btn">
            <select class="selectpicker hidden-xs" data-width="150px" name="CatID">
                <option value="0">All Categories</option>
                @foreach (var cat in Model)
                {
                    <optgroup label="@cat.CatName">
                        @foreach (var cat_child in cat.Categories)
                        {
                            <option value="@cat_child.CatID">@cat_child.CatName</option>
                        }
                    </optgroup>
                }
                @*<option value="0">All Categories</option>
                    <option value="1">Dresses</option>
                    <option value="2">Tops</option>
                    <option value="3">Bottoms</option>
                    <option value="4">Jackets / Coats</option>
                    <option value="5">Sweaters</option>
                    <option value="6">Gym Wear</option>
                    <option value="7">Others</option>*@
            </select>
            <button type="submit" class="btn btn-default btn-search"><i class="fa fa-search"></i></button>
        </div>
    </form>
</div>