@section title
{
    Home
}

@section css
{
    <link href="~/assets/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/assets/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/assets/css/owl.theme.default.css" rel="stylesheet" />
<link href="~/assets/css/menucate.css" rel="stylesheet" />
}

@section js
{
    <script src="~/assets/js/bootstrap-select.js"></script>
    <script src="~/assets/js/owl.carousel.js"></script>
    <script src="~/assets/js/mimity.js"></script>
}


    <!-- Full Slider -->
@section banner
{
    <div class="container-fluid">
        <div class="row">
            <div class="home-slider">
                <div class="item">
                    <a href="products.html"><img src="/images/demo/slide-1-full.jpg" alt="Slider"></a>
                </div>
                <div class="item">
                    <a href="products.html"><img src="/images/demo/slide-2-full.jpg" alt="Slider"></a>
                </div>
                <div class="item">
                    <a href="products.html"><img src="/images/demo/slide-3-full.jpg" alt="Slider"></a>
                </div>
            </div>
        </div>
    </div>
 }

    <!-- Main Content -->
    <div class="container m-t-2">
        <div class="row">

            <!-- New Arrivals & Best Selling -->
            <div class="col-md-3 m-b-1">
                <div class="navbar-vertical">
                    <div class="header title"><span>Categories <i class="fa fa-navicon pull-right"></i></span></div>
                    @Html.Action("List","Category")
                </div><!-- end navbar-vertical -->

            </div>
            <!-- End New Arrivals & Best Selling -->

            <div class="clearfix visible-sm visible-xs"></div>

            <div class="col-md-9">

                <!-- Featured -->
                <div class="title"><span>Featured Products</span></div>
                    @Html.Action("loadds", "Home")
                @*<div class="col-sm-4 col-lg-3 box-product-outer">
                    <div class="box-product">
                        <div class="img-wrapper">
                            <a href="detail.html">
                                <img alt="Product" src="/images/demo/polo1.jpg">
                            </a>
                            <div class="tags">
                                <span class="label-tags"><span class="label label-default arrowed">Featured</span></span>
                            </div>
                            <div class="tags tags-left">
                                <span class="label-tags"><span class="label label-danger arrowed-right">Sale</span></span>
                            </div>
                            <div class="option">
                                <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-gavel"></i></a>
                                <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                                <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                        <h6><a href="detail.html">IncultGeo Print Polo T-Shirt</a></h6>
                        <div class="price">
                            <div>$13.50 <span class="label-tags"><span class="label label-default">-10%</span></span></div>
                            <span class="price-old">$15.00</span>
                        </div>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <a href="#">(5 reviews)</a>
                        </div>
                    </div>
                </div>*@
                <div class="col-sm-4 col-lg-3 hidden-xs box-product-outer">
                    <div class="box-product">
                        <div class="img-wrapper">
                            <a href="detail.html">
                                <img alt="Product" src="/images/demo/polo2.jpg">
                            </a>
                            <div class="tags">
                                <span class="label-tags"><span class="label label-default arrowed">Featured</span></span>
                            </div>
                            <div class="tags tags-left">
                                <span class="label-tags"><span class="label label-success arrowed-right">Sale</span></span>
                            </div>
                            <div class="option">
                                <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-gavel"></i></a>
                                <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                                <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                        <h6><a href="detail.html">Tommy HilfigerNavy Blue Printed Polo T-Shirt</a></h6>
                        <div class="price">
                            <div>$13.50 <span class="label-tags"><span class="label label-primary">-10%</span></span></div>
                            <span class="price-old">$15.00</span>
                        </div>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <a href="#">(5 reviews)</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 hidden-xs box-product-outer">
                    <div class="box-product">
                        <div class="img-wrapper">
                            <a href="detail.html">
                                <img alt="Product" src="/images/demo/polo3.jpg">
                            </a>
                            <div class="tags">
                                <span class="label-tags"><span class="label label-default arrowed">Featured</span></span>
                            </div>
                            <div class="tags tags-left">
                                <span class="label-tags"><span class="label label-primary arrowed-right">Sale</span></span>
                            </div>
                            <div class="option">
                                <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-gavel"></i></a>
                                <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                                <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                        <h6><a href="detail.html">WranglerNavy Blue Solid Polo T-Shirt</a></h6>
                        <div class="price">
                            <div>$13.50 <span class="label-tags"><span class="label label-success">-10%</span></span></div>
                            <span class="price-old">$15.00</span>
                        </div>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <a href="#">(5 reviews)</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 visible-lg box-product-outer">
                    <div class="box-product">
                        <div class="img-wrapper">
                            <a href="detail.html">
                                <img alt="Product" src="/images/demo/polo4.jpg">
                            </a>
                            <div class="tags">
                                <span class="label-tags"><span class="label label-default arrowed">Featured</span></span>
                            </div>
                            <div class="tags tags-left">
                                <span class="label-tags"><span class="label label-danger arrowed-right">Sale</span></span>
                            </div>
                            <div class="option">
                                <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-gavel"></i></a>
                                <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                                <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                        <h6><a href="detail.html">NikeAs Matchup -Pq Grey Polo T-Shirt</a></h6>
                        <div class="price">
                            <div>$13.50 <span class="label-tags"><span class="label label-danger">-10%</span></span></div>
                            <span class="price-old">$15.00</span>
                        </div>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <a href="#">(5 reviews)</a>
                        </div>
                    </div>
                </div>
                <!-- End Featured -->

                <div class="clearfix visible-sm visible-xs"></div>

                <!-- Collection -->
                <div class="title m-t-2"><span>V-Neck Collection</span></div>
                <div class="product-slider owl-controls-top-offset">
                    <div class="box-product-outer">
                        <div class="box-product">
                            <div class="img-wrapper">
                                <a href="detail.html">
                                    <img alt="Product" src="/images/demo/vneck1.jpg">
                                </a>
                                <div class="tags">
                                    <span class="label-tags"><span class="label label-danger arrowed">Sale</span></span>
                                    <span class="label-tags"><span class="label label-default arrowed">Collection</span></span>
                                </div>
                                <div class="option">
                                    <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-gavel"></i></a>
                                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                                </div>
                            </div>
                            <h6><a href="detail.html">PhosphorusGrey Melange Printed V Neck T-Shirt</a></h6>
                            <div class="price">
                                <div>$13.50 <span class="label-tags"><span class="label label-danger arrowed">-10%</span></span></div>
                                <span class="price-old">$15.00</span>
                            </div>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <a href="#">(5 reviews)</a>
                            </div>
                        </div>
                    </div>
                    <div class="box-product-outer">
                        <div class="box-product">
                            <div class="img-wrapper">
                                <a href="detail.html">
                                    <img alt="Product" src="/images/demo/vneck2.jpg">
                                </a>
                                <div class="tags">
                                    <span class="label-tags"><span class="label label-danger arrowed">Sale</span></span>
                                    <span class="label-tags"><span class="label label-primary arrowed">Collection</span></span>
                                </div>
                                <div class="option">
                                    <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-gavel"></i></a>
                                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                                </div>
                            </div>
                            <h6><a href="detail.html">United Colors of BenettonNavy Blue Solid V Neck T Shirt</a></h6>
                            <div class="price">
                                <div>$13.50 <span class="label-tags"><span class="label label-success arrowed">-10%</span></span></div>
                                <span class="price-old">$15.00</span>
                            </div>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <a href="#">(5 reviews)</a>
                            </div>
                        </div>
                    </div>
                    <div class="box-product-outer">
                        <div class="box-product">
                            <div class="img-wrapper">
                                <a href="detail.html">
                                    <img alt="Product" src="/images/demo/vneck3.jpg">
                                </a>
                                <div class="tags">
                                    <span class="label-tags"><span class="label label-danger arrowed">Sale</span></span>
                                    <span class="label-tags"><span class="label label-success arrowed">Collection</span></span>
                                </div>
                                <div class="option">
                                    <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-gavel"></i></a>
                                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                                </div>
                            </div>
                            <h6><a href="detail.html">WranglerBlack V Neck T Shirt</a></h6>
                            <div class="price">
                                <div>$13.50 <span class="label-tags"><span class="label label-primary arrowed">-10%</span></span></div>
                                <span class="price-old">$15.00</span>
                            </div>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <a href="#">(5 reviews)</a>
                            </div>
                        </div>
                    </div>
                    <div class="box-product-outer">
                        <div class="box-product">
                            <div class="img-wrapper">
                                <a href="detail.html">
                                    <img alt="Product" src="/images/demo/vneck4.jpg">
                                </a>
                                <div class="tags">
                                    <span class="label-tags"><span class="label label-danger arrowed">Sale</span></span>
                                    <span class="label-tags"><span class="label label-info arrowed">Collection</span></span>
                                </div>
                                <div class="option">
                                    <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-gavel"></i></a>
                                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                                </div>
                            </div>
                            <h6><a href="detail.html">Tagd New YorkGrey Printed V Neck T-Shirts</a></h6>
                            <div class="price">
                                <div>$13.50 <span class="label-tags"><span class="label label-default arrowed">-10%</span></span></div>
                                <span class="price-old">$15.00</span>
                            </div>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <a href="#">(5 reviews)</a>
                            </div>
                        </div>
                    </div>
                    <div class="box-product-outer">
                        <div class="box-product">
                            <div class="img-wrapper">
                                <a href="detail.html">
                                    <img alt="Product" src="/images/demo/vneck1.jpg">
                                </a>
                                <div class="tags">
                                    <span class="label-tags"><span class="label label-danger arrowed">Sale</span></span>
                                    <span class="label-tags"><span class="label label-default arrowed">Collection</span></span>
                                </div>
                                <div class="option">
                                    <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-gavel"></i></a>
                                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                                </div>
                            </div>
                            <h6><a href="detail.html">PhosphorusGrey Melange Printed V Neck T-Shirt</a></h6>
                            <div class="price">
                                <div>$13.50 <span class="label-tags"><span class="label label-danger arrowed">-10%</span></span></div>
                                <span class="price-old">$15.00</span>
                            </div>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <a href="#">(5 reviews)</a>
                            </div>
                        </div>
                    </div>
                    <div class="box-product-outer">
                        <div class="box-product">
                            <div class="img-wrapper">
                                <a href="detail.html">
                                    <img alt="Product" src="/images/demo/vneck2.jpg">
                                </a>
                                <div class="tags">
                                    <span class="label-tags"><span class="label label-danger arrowed">Sale</span></span>
                                    <span class="label-tags"><span class="label label-primary arrowed">Collection</span></span>
                                </div>
                                <div class="option">
                                    <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-gavel"></i></a>
                                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                                </div>
                            </div>
                            <h6><a href="detail.html">United Colors of BenettonNavy Blue Solid V Neck T Shirt</a></h6>
                            <div class="price">
                                <div>$13.50 <span class="label-tags"><span class="label label-success arrowed">-10%</span></span></div>
                                <span class="price-old">$15.00</span>
                            </div>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                                <a href="#">(5 reviews)</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Collection -->

            </div>

        </div>

        <!-- Brand & Clients -->
        <div class="row">
            <div class="col-xs-12 m-t-1">
                <div class="title text-center"><span>Brand & Clients</span></div>
                <div class="brand-slider owl-controls-top-offset">
                    <div class="brand">
                        <a href=""><img src="/images/demo/brand1.png" alt=""></a>
                    </div>
                    <div class="brand">
                        <a href=""><img src="/images/demo/brand2.png" alt=""></a>
                    </div>
                    <div class="brand">
                        <a href=""><img src="/images/demo/brand3.png" alt=""></a>
                    </div>
                    <div class="brand">
                        <a href=""><img src="/images/demo/brand4.png" alt=""></a>
                    </div>
                    <div class="brand">
                        <a href=""><img src="/images/demo/brand5.png" alt=""></a>
                    </div>
                    <div class="brand">
                        <a href=""><img src="/images/demo/brand1.png" alt=""></a>
                    </div>
                    <div class="brand">
                        <a href=""><img src="/images/demo/brand2.png" alt=""></a>
                    </div>
                    <div class="brand">
                        <a href=""><img src="/images/demo/brand3.png" alt=""></a>
                    </div>
                    <div class="brand">
                        <a href=""><img src="/images/demo/brand4.png" alt=""></a>
                    </div>
                    <div class="brand">
                        <a href=""><img src="/images/demo/brand5.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Brand & Clients -->

    </div>
    <!-- End Main Content -->